body {
    background-color: rgb(27, 27, 110);
    margin: 0px;
    margin-top: 0px;
}

#div1 {
    height: 90px;
    width: 100%;
    position: relative;
    background-color: pink;
    text-align: center;
    color: purple;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#div2 {
    background-color: pink;
    color: purple;
    height: 330px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    position: relative;
    margin-top: 10px;
    border-radius: 5px;
}

#div3 {
    height: 330px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    position: relative;
    margin-top: 10px;
    border-radius: 5px;
}

#LM {
    margin-left: 25px;
}

h1, h2 {
    font-family: sans-serif;
}

h4 {
    font-family: sans-serif;
    color: black;
    margin-left: 25px;

}

input {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    border-radius: 5px;
}

#button {
    margin-top: 30px;
    height: 35px;
    background-color: rgb(30, 28, 28);
    color: white;
}

h2 {
    margin-left: 180px;
    color: purple;
}

#checkboxDiv {
    height: 30px;
    width: 60%;
    background-color: lightblue;
    margin-left: auto !important;
    margin-right: auto !important;
    margin: 6px;
    border-radius: 2px;
}

#checkbox {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-left: 5px !important;
    margin-top: 5px;
}

label {
    margin-left: 10px;
}